body{
  font-family: 'Montserrat', sans-serif;
}
#title{
  background-color: #ff4c68;
  color: white;
  /* min-height: 100vh; */
}
h1{
  font-size: 4.5rem;
  line-height: 1.5;
}
.container-fluid{
  padding: 3% 15% 3% 15%;
}
h1,h2{
  font-family: 'Montserrat', sans-serif;
}
/* navigation bar */

.navbar{
  padding-bottom: 4.5rem;
}
.navbar-brand{
  font-family: 'ubuntu';
  font-size: 2.5rem;
}
.nav-item{
  padding: 0 18px;
}

/* download buttons */

.download-button{
  margin: 5% 3% 5% 0;
}

/* title image */

.title-image{
  width: 15%;
  position: absolute;
  margin-left: 180px;
}


.slider{
  
  background-color: yellowgreen;
  position: absolute;
  margin-top: -538px;
  margin-left: 1049px;
  height: 400px;
  width: 231px;
  z-index: 4;
}
.slider img{
  height: 400px;
}





/* features */

#features{
  padding: 7% 15%;
  font-family: 'ubuntu';
  background-color: white;
  position: relative;
  /* z-index: 1;  */
}
.feature-box{
  text-align: center;
  padding: 5%;
  
}
.feature-box h3{
  font-family: 'Montserrat', sans-serif;
}
p{
  color: #8f8f8f;
}
.icon{
  margin-bottom: .5em;
  color: rgb(255, 136, 0);
}
.icon:hover{
  color: #ff4c68;
}

/* testimonial */

#testimonials{
  /* padding: 7% 15%; */
  text-align: center;
  background-color: rgb(255, 136, 0);
  color: white;
}
h2{
  font-size: 3rem;
  line-height: 1.5;
}
.testimonial-img{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
#press{
  background-color: rgb(255, 136, 0);
  text-align: center;
  padding-bottom: 3%;
}
#press img{
  width: 15%;
  margin: 20px 20px 50px;
}
.carousel-item{
  padding: 7% 15%;
}

/* pricing */

#pricing{
  padding: 100px;
  text-align: center;
}
.card{
  text-align: center;
}
.card h3{
  font-size: 30px;
}
.card h2{
  font-size: 40px;
}
.pricing-col{
  padding: 3%;
}
@media (max-width: 993px){
  .title-image{
      position: static;
      transform: rotate(0);
      width: 30%;
  }
}

/* cta */

#cta{
  background-color: #ff4c68;
  text-align: center;
  color: white;

}
#cta h1{
  padding: 0 15%;
  font-size: 265%;
}
#cta .btn{
  margin: 2% 2% 8% 0;
}

/* footer */

#footer{
  text-align: center;
  margin: 6% 0;
}
.ic{
  margin: 3% 1%;
}


/*slider2*/

.sliderbody{
  display: flex;
align-items: center;
justify-content: center;
min-height: 70vh;
background: #dce9e9;
/* margin-top: 100px; */
}
.container {
  max-width: 1200px;
  width: 95%;
}
.slider-wrapper {
  position: relative;
}
.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  z-index: 5;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: #eb874e;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
}
.slider-wrapper .slide-button:hover {
  background: #eb2c2c;
}
.slider-wrapper .slide-button#prev-slide {
  left: -25px;
  display: none;
}
.slider-wrapper .slide-button#next-slide {
  right: -25px;
}
.slider-wrapper .image-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 18px;
  font-size: 0;
  list-style: none;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
}
.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}
.slider-wrapper .image-list .image-item {
  width: 325px;
  height: 400px;
  object-fit: cover;
}
.container .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}
.slider-scrollbar .scrollbar-track {
  background: #ccc;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}
.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}
.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  background: #f08228;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}
.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}
.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}
/* Styles for mobile and tablets */
@media only screen and (max-width: 1023px) {
  .slider-wrapper .slide-button {
    display: none !important;
  }
  .slider-wrapper .image-list {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
  }
  .slider-wrapper .image-list .image-item {
    width: 280px;
    height: 380px;
  }
  .slider-scrollbar .scrollbar-thumb {
    width: 20%;
  }
}
.sliderbody img{
  height: 200px;
  width: 180px;
  margin-bottom: 50px;
  border-radius: 20px;
}
#itemimg{
  height: 200px;
  width: 300px;
  margin-bottom: 50px;
  border-radius: 20px;
}